/****** Brightcove player *****/

/* black background */
.bc-iframe, .bc-iframe body, .vjs-poster, .video-js {
  background-color: black !important;
}

/* transparent buttons */
button.vjs-control.vjs-button {
    background: transparent !important;
}

button.vjs-quality-menu-button.vjs-menu-button.vjs-menu-button-popup.vjs-button {
    background: transparent !important;
}

/* spacing of buttons */
.vjs-mouse.bc-player-QRs57foWX_default .vjs-control-bar {
    font-size: 14px;
}

/*** End ***/
